<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<ros2_control name="MdogSystem" type="system">

		<hardware>
			<!-- <plugin>mdog_hardware_interface/MdogHardwareInterface</plugin> -->
			<plugin>hardware_unitree_mujoco/HardwareUnitree</plugin>
		</hardware>

		<joint name="FL_hip_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FL_thigh_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FL_calf_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FL_ankle_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FR_hip_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FR_thigh_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FR_calf_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="FR_ankle_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RL_hip_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RL_thigh_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RL_calf_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RL_ankle_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RR_hip_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RR_thigh_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RR_calf_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<joint name="RR_ankle_joint">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
				<param name="initial_value">0.0</param>
			<state_interface name="velocity"/>
				<param name="initial_value">0.0</param>
			<state_interface name="effort"/>
				<param name="initial_value">0.0</param>
			<state_interface name="error"/>
				<param name="initial_value">0.0</param>
		</joint>

		<sensor name="imu_sensor">
			<state_interface name="orientation.w"/>
				<param name="initial_value">0.0</param>
			<state_interface name="orientation.x"/>
				<param name="initial_value">0.0</param>
			<state_interface name="orientation.y"/>
				<param name="initial_value">0.0</param>
			<state_interface name="orientation.z"/>
				<param name="initial_value">0.0</param>
			<state_interface name="angular_velocity.x"/>
				<param name="initial_value">0.0</param>
			<state_interface name="angular_velocity.y"/>
				<param name="initial_value">0.0</param>
			<state_interface name="angular_velocity.z"/>
				<param name="initial_value">0.0</param>
			<state_interface name="linear_acceleration.x"/>
				<param name="initial_value">0.0</param>
			<state_interface name="linear_acceleration.y"/>
				<param name="initial_value">0.0</param>
			<state_interface name="linear_acceleration.z"/>
				<param name="initial_value">0.0</param>
		</sensor>

		<!-- <sensor name="foot_force">
			<state_interface name="FL"/>
			<state_interface name="FR"/>
			<state_interface name="RL"/>
			<state_interface name="RR"/>
		</sensor> -->

	</ros2_control>

</robot>
